@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fredoka:wght@300..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
     font-style: normal;
}

body{
    background-color: #0D0D0D;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("bg-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

h1{
    margin-bottom: 3rem;
    text-align: center;
     color: #0D0D0D;
     text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

}

.timer-container{
    color: #fff;
    font-size: 2rem;
}

.timer-container h2{
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}