* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #8667a3;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  width: 400px;
  min-height: 200px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#search-input {
  width: 80%;
  padding: 10px 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

#search-input:focus {
  outline: 1px solid #4f46e5;
}

.result-container{
    width: 60%;
}
#results {
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
  /* border: 1px solid #ddd; */
  width: 100%;
  margin: 10px auto;
}

#results li {
  padding: 8px;
  cursor: pointer;
}

#results li:hover {
  background-color: #f0f0f0;
}


.highlight {
    background-color: yellow;
    font-weight: bold;
}