@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0d0d0d;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  width: 40rem;
  padding: 2rem 3rem;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.faq-item {
  border-bottom: 1px solid #e5e7eb;
}

.faq-question {
  padding: 5px 10px;
  position: relative;
  cursor: pointer;
}

.faq-question::after {
  content: "+";
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 23px;
}

.faq-item.active .faq-question::after {
  content: "−";
}

.faq-answer {
  display: none;
  overflow: hidden;
  transition:
    max-height 1s ease,
    padding 0.3s ease;
  padding: 0 10px;
}

.faq-item.active .faq-answer {
  display: block;
  max-height: 200px;
  padding: 10px;
}
