@import url("https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

   font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 13px;
}

.container h1 {
  text-align: center;
  margin: 10px 0;
}

.quiz {
  padding: 10px;
  line-height: 1.3;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.quiz h3 {
  margin: 5px 0;
}

label:hover {
  cursor: pointer;
}

button {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  border: none;
  background-color: #005cd0;
  color: #fff;
}

button:hover {
  cursor: pointer;
}


.result-container{
    display: flex;
    justify-content: center;
}