@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #035aa6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.card {
  background-color: #fff;
  text-align: center;
  min-width: 400px;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}


.products{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.product {
    display: flex;
    justify-content: space-around;
}

.product button{
    min-width: 50px;
    border: none;
    background-color: #6E59FF;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    padding: .3em;
}

.cart{
     display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0 1.5rem;
}

.added-product{
    display: flex;
    justify-content: space-around;
    background-color: #D9D9D9;
    padding: .3rem;
    border-radius: 5px;
}

.added-product button{
    min-width: 50px;
    border: none;
    background-color: #D94848;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    padding: .3em;
}