@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #111827;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}

.container h1 {
  margin: 2rem 0;
  text-align: center;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.add-task-wrapper {
  padding: 5px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #111827;
}

form{
    display: flex;
    justify-content: center;
}

.add-task-wrapper input {
  background-color: #111827;
  color: #e5e7eb;
  border: none;
  border-bottom: 2px solid #4b5563;
  padding: 0.5rem 0.25rem;
  margin: 0 10px;
  font-size: 1rem;
  width: 100%;
  outline: none;
  transition: border-color 0.3s;
}

.add-task-wrapper input:focus {
  border-bottom-color: #10b981; /* green on focus */
}

/* Circular button with + icon */
.add-task-wrapper button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3a92e4; /* bright accent color */
  color: #fff;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.add-task-wrapper button:hover {
  background-color: #1f76c7; /* darker green on hover */
  transform: scale(1.1); /* small pop effect */
}

.default-result {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  letter-spacing: 2px;
  word-spacing: 3px;
  line-height: 2;
}

.result-container {
  font-size: 1.2rem;
  letter-spacing: 2px;
  word-spacing: 3px;
  line-height: 2;
  margin: 3rem 10px;
  position: static;
   overflow: hidden;
}

.result-wrapper {
  border: 1px solid #6b7280;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 5px;
  margin: 1rem 0;
}

.result-wrapper button {
  margin-left: auto;
}

.result-wrapper button + button {
  margin: 0 0.5rem;
}

.delete-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ac1634; /* bright accent color */
  color: #fff;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.delete-btn:hover {
  background-color: #7a002b; /* darker red on hover */
  transform: scale(1.1); /* small pop effect */
}

.complete-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #10b981; /* bright accent color */
  color: #fff;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.complete-btn:hover {
  background-color: #0b9466; /* darker green on hover */
  transform: scale(1.1); /* small pop effect */
}
