@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: #023E73;

    font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

h1{
    text-align: center;
    font-size: 23px;
}

.container{
    background-color: #fff;
    border-radius: 10px;
    width: 350px;
    min-height: 100px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 2rem;
}

.search-box{
    display: flex;
}

.search-box input{
    flex: 1;
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
    font-size: 13px;
}


.search-box button{
    border: none;
    background-color: #6E59FF;
    color: #fff;
    padding: 8px;
    border-radius:  0 5px 5px 0;
    cursor: pointer;
}

#message{
    color: red;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
}

#profile-info{
    text-align: center;
}

.info{
    text-align: center;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-info{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.info img{
    width: 100px;
    border-radius: 50%;
}

.info .card-container{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.card-container .card{
    background-color: #F2F2F2;
    padding: .5rem;
    width: 80px;
    font-size: 13px;
    border-radius: 5px;
}

.inner-info .bio{
    font-size: 13px;
}

.card span{
    font-weight: 600;
}

.inner-info a{
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
}