@import url("https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fredoka:wght@300..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+NZ+Basic:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  background-image: url("./galaxy-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  padding: 20px;
}

.container {
  width: 100%;
  max-width: 520px; /* desktop width */
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 30px 20px;

  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(6px);

  overflow: hidden;
}

.container h1,
.container p {
  text-align: center;
  text-shadow:
    0 0 8px rgba(255, 255, 255, 0.6),
    0 0 15px rgba(120, 180, 255, 0.6);
  font-size: 1.2rem;
}

.container h1 {
  font-size: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 14px 0;
  width: 100%;
}

.column input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: 12px 16px;
  border-radius: 12px;
  outline: none;
  font-size: 13px;

  font-family: "Playwrite NZ Basic", cursive;
}

button {
  width: 100%;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: 12px 30px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;

  font-family: "Playwrite NZ Basic", cursive;
}

button:hover {
  background: rgba(255, 255, 255, 0.2);
}
